body {

}

svg {
    position: fixed;
    top: 70px;
    bottom: 100px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    cursor: all-scroll;
}

header {
    color: #C0C90D;
    font-size: large;
    padding: 20px 16px;
    font-family: 'sinkin_sans300_light';
}

.explorer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 500px;
}

.analysisMap {
    width: 500px;
    height: 500px;
    background-color: #eeeeee;
    border: solid 1px black;
}

.nodeHolder {
    padding: 2px;
    border-radius: 0px;
    margin: 10px;
    cursor: default;
}

.headerHolder {
    fill: white;
}

.headerHolder rect {
    fill: white;
    width: 200px;
    height: 100px;
}

.rowHolder {
    display: -webkit-inline-box;
    width: auto;
}

.rowHolder text {
    fill: rgba(0,0,0,0.65);
}

.holder rect {
    padding: 10px;
    margin: 3px;
    background-color: #EEEEEE;
    border-radius: 0px;
}

.holder div+div {
    border-top: solid 1px black;
}

svg text{
    cursor: hand;
}

svg {
    pointer-events: all;
}

#ruleBlock text {
    fill: rgba(0,0,0,0.65);
    pointer-events: none;
}

#ruleBlock g {
    cursor: pointer;
}

.header {
    background-color: #1C083B;
    width: 100%;
    height: 70px;
}

.overPath {
    fill: red;
}

.blue {
    background-color: #337ab7;
    fill: #337ab7;
}
.red {
    fill: #ec1952;
}
.yellow {
    fill: #f0ad4e;
}
.grey {
    fill: #595959;
}
.green {
    fill: #3c763d;
}
.purple {
    fill: #4b0082;
}
.lightRed {
    fill: #f2dede;
}
.lightBlue {
    fill: #d9edf7;
}
.lightGreen {
    fill: #dff0d8;
}
.lightYellow {
    fill: #fcf8e3;
}
.zerocertaintycondition {
    text-decoration: line-through;
}
.white {
    fill: #FFFFFF;
}

.ruleHolder {
    background-color: #eeeeee;
    border-radius: 0px;
}

#columnHolder {
    display: -webkit-box;
}

a:hover {
    cursor: pointer;
}

a {
    cursor: pointer;
}
